{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
            <a href="{% url 'dashboard' %}">Back to dashboard</a>
                <h3>Business Product List</h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
            </div>
        </div>

        <!-- Wrapper for slides -->
        {% for business in business_product %}

        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="{{ business.image.url }}" class="img-responsive" alt="a" />
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price col">
                                <h5>
                                    {{ business.name }}</h5>
                                <h5 class="price-text-color">
                                    ${{ business.price }}</h5>
                                    <p>{{ business.description }}</p>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
        <!-- Wrapper for slides -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}
