<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Screening</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/register.css">
    <link rel="stylesheet" href="assets/css/tech_product_list.css">
</head>

<body class="d-flex justify-content-center align-items-center">
    <div class="content">
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-8">
                <div class="items">
                    <div class="product">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3">
                                <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                            </div>
                            <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                <div class="product-specs">
                                    <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                    <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                    <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                            <div class="col-6 col-md-2 price"><span>$120</span></div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3">
                                <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                            </div>
                            <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                <div class="product-specs">
                                    <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                    <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                    <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                            <div class="col-6 col-md-2 price"><span>$120</span></div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3">
                                <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                            </div>
                            <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                <div class="product-specs">
                                    <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                    <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                    <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                            <div class="col-6 col-md-2 price"><span>$120</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="summary">
                    <h3>Summary</h3>
                    <h4><span class="text">Subtotal</span><span class="price">$360</span></h4>
                    <h4><span class="text">Discount</span><span class="price">$0</span></h4>
                    <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
                    <h4><span class="text">Total</span><span class="price">$360</span></h4><button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/MUSA_product-display.js"></script>
</body>

</html>